@using Newtonsoft.Json
@model SchoolHealthManagement.Models.SupplierDetailPayModel
<link href="~/Content/assets/bootstrap/css/bootstrap-table.min.css" rel="stylesheet" />
<div class="row col-md-12" id="payGrid">

    <div class="row col-md-12">
        @if (Model.Detail.Any())
        {
            foreach (var supplierDetailProvinceLevel in Model.Detail)
            {
                <div class="row col-md-12 fa-border">
                    <div class="row col-md-12">
                        <span style="margin-left: 40px">Province Name  : <strong> @supplierDetailProvinceLevel.ProvinceName</strong></span>
                    </div>
                    @if (supplierDetailProvinceLevel.SupplierDetailZoneLevel.Any())
                    {
                        <div class="row">
                            @foreach (var zone in supplierDetailProvinceLevel.SupplierDetailZoneLevel)
                            {
                                <div class="row col-md-12">
                                    <div class="row col-md-12">
                                        <span style="margin-left: 80px"> Zone Name : <strong>@zone.ZoneName</strong></span>
                                    </div>
                                    <div class="row col-md-12" style="margin-left: 14px;">
                                        <table id="@zone.ZoneName" class="datatable col-md-12">
                                            <thead>
                                            <tr>
                                                <th data-field="check" data-checkbox="true"></th>
                                                <th data-field="CensorsId">Censors Id</th>
                                                <th data-field="SupplierName">Supplier Name</th>
                                                <th data-field="BankAccountNo">Account No</th>
                                                <th data-field="BankName">Bank Name</th>
                                                <th data-field="BranchName">Branch Name</th>
                                                <th data-field="Amount">Amount</th>
                                                @*<th data-field="BankCode" data-visible ="false"></th>
                                                <th data-field="Year" data-visible ="false"></th>
                                                <th data-field="Month" data-visible ="false"></th>*@
                                            </tr>
                                        </table>


                                    </div>
                                    <div class="row col-md-12">
                                        <span style="margin-left: 717px">Zone Total &emsp;&emsp;&emsp;&emsp;&emsp;<strong style="margin-left: 24px;">@zone.ZoneTotal</strong></span>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <div class="row">
                        <span style="margin-left: 717px">Provincial Total &emsp; &emsp; <strong style="margin-left: 30px;">@supplierDetailProvinceLevel.ProvincialTotal</strong></span>
                    </div>
                </div>
                <div class="row clear both"><br/>
                </div><br/>
            }
            <div class="row">
                <span style="margin-left: 711px">Grand Total &emsp;&emsp;&emsp;&emsp;&emsp; <strong style="margin-left: 12px;">@Model.FullTotal</strong></span>
            </div>
        }
    </div>
</div>
<div class="row clear both"><br /></div>
<div class="col-md-12 row">
    <div class="col-md-4">
        <span>Cheque No :</span>   <input type="text" id="chequeNo" class="form-box" style="border: 1px solid black;height: 30px;
    width: 180px"/>
    </div>
    <div class="col-md-4">
        <span>Cheque Date :</span>   <input type="text" id="chequeDate" class="form-box" style="border: 1px solid black;height: 30px;
    width: 180px"/>
    </div>
</div>
<div class="row clear both"><br /><br /><br /></div>
<div class="row">
    <button class="blue-btn" id="payedSave">
        <i class="fa fa-save"> Save</i>
    </button> &emsp;&emsp;
    <button class="blue-btn" id="export">
        <i class="fa fa-file-pdf-o"> Export</i>
    </button>
</div>
<div class="row clear both"><br /><br /></div>
<script src="~/Content/assets/bootstrap/js/bootstrap-table.min.js"></script>

<script type="text/javascript">
    var  tableData = @Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.TableData));

    $(function() {

        $('#payGrid table.datatable').each(function(i, obj) {

            var $table = $(obj).prop('id');
            var data = tableData[$table].SupplierPaymentRequestDetails;
            $('#' + $table).bootstrapTable({ data: data });

        });
        
        $("#chequeDate").datepicker();
        var n = $(document).height();
        $('html, body').animate({ scrollTop: n }, 2000);

        $("#payedSave").on('click', function() {
            var payedSave = [];
            $('#payGrid table.datatable').each(function(i, obj) {
                var $table = $(obj).prop('id');
                var data = $('#' + $table).bootstrapTable('getAllSelections');
                if (data.length > 0) {
                    $.each(data, function(i, obj) {
                        payedSave.push(obj);
                    });
                }

            });
            var chequeDate = $("#chequeDate").val();
            var chequeNo = $("#chequeNo").val();
            if (payedSave.length > 0) {
                if(chequeDate ==='')
                {
                    $.alert({
                        title: 'Warning!',
                        type: 'orange',
                        icon: 'fa fa-warning',
                        content: 'Cheque Date should not be empty'
                    });
                    return;

                }else if (chequeNo === '') {
                    $.alert({
                        title: 'Warning!',
                        type: 'orange',
                        icon: 'fa fa-warning',
                        content: 'Cheque No should not be empty'
                    });
                    return;
                }
                $.confirm({
                    icon: 'fa fa-spinner fa-spin',
                    title: 'Confirm!',
                    content: 'Are You sure to save the payments ?',
                    buttons: {
                        confirm:
                        {
                            btnClass: 'btn-blue',
                            action: function() {
                                $.ajax({
                                    url: "@Url.Action("SaveSupplyerPaymentMoe", "Home")",
                                    method: "POST",
                                    data: { model: JSON.stringify(payedSave), chequeNo: chequeNo, chequeDate: chequeDate }
                                }).done(function(response) {
                                    if (!response.status) {
                                        $("#paymentDetail").removeClass('hidden');
                                        $("#paymentDetail").empty();
                                        $("#paymentDetail").append(response);

                                    } else {
                                        $("#paymentDetail").addClass('hidden');
                                        $("#paymentDetail").empty();
                                    }

                                });
                            }
                        },
                        cancel: {
                            btnClass: 'btn-red'
                        }
                    }
                });
            } else {
                $.alert({
                    title: 'Warning!',
                    type: 'orange',
                    icon: 'fa fa-warning',
                    content: 'No recordes are selected!'
                });
            }
            });


    });
</script>