
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
       <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/Content/assets/css/form-elements.css">
        <link rel="stylesheet" href="~/Content/assets/css/style.css">
        <link href="~/Content/assets/css/animations.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="~/Content/assets/ico/apple-touch-icon-57-precomposed.png">
     <script src="/Content/assets/js/jquery-1.11.1.min.js"></script>
     <style>
         .backstretch {
             display: none;
         }

         .navbar-nav {
             float: right;
             margin: 0;
         }

         .navbar-default {
             background-color: white;
             border-color: #e7e7e7;
             padding: 10px;
         }

         .dropdown-menu {
             left: -159px !important;
         }

             .dropdown-menu > li > a {
                 clear: both;
                 color: #777;
                 display: block;
                 font-size: 15px;
                 font-weight: 400;
                 line-height: 1.42857;
                 padding: 8px 22px;
                 white-space: nowrap;
             }

         .btn-primary {
             border: medium none;
             margin-top: 5px;
             padding: 2px 12px 3px 10px;
         }
     </style>
</head>
<body>
       <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" style="padding:0px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <img src="/Content/assets/img/backgrounds/header-logo.jpg" class="img-responsive"></div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
          
            <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
                  @if (Session["LoginRoleID"].ToString() != "5")
                  {
                <li><a href="@Url.Action("UserProfile", "Login")">Register User</a></li>
                  }
               <li><a href="@Url.Action("LogOut", "Login")" style="color:#0070BA; font-weight:400">Logout</a></li>
              <li>
                  <div class="dropdown">
  <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
  <span class="glyphicon glyphicon-menu-hamburger"></span></button>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="@Url.Action("ChangePassword", "Login")">Change Password</a></li>
              <li><a href="@Url.Action("MonitoringOfficerInformation", "Home")">Monitoring Officer Information</a></li>

              <li><a href="@Url.Action("ZonalSchoolStudentSummery", "Home")">Zonal Schools and Student Summery</a></li>
                        @*FundsReceived*@
              @*<li><a href="@Url.Action("FundsReceived", "Home")">Funds Received</a></li>
              <li><a href="@Url.Action("ImpressRequest", "Home")">Impress Request</a></li>*@
              <li><a href="@Url.Action("MOE_Impress_Summary", "Home")">Impress Summary</a></li>
              @*<li><a href="@Url.Action("Impress_Release", "Home")">Impress Release</a></li>*@
              <li><a href="@Url.Action("SummaryOfData", "Home")">Summary of Data</a></li>
              <li class="dropdown dropdown-submenu""><a href="#" class="dropdown-toggle" data-toggle="dropdown">Help</a>
                  <ul class="dropdown-menu">
                        @foreach (string urlKey in System.Web.Configuration.WebConfigurationManager.AppSettings.AllKeys)
                        {
                            if (urlKey.StartsWith("Help Video"))
                            {
                                string urlValue = System.Web.Configuration.WebConfigurationManager.AppSettings[urlKey];
                                <li><a href="/Home/Help?HelpVideo=@urlValue">@urlKey</a></li>
                                //+ @System.Web.Configuration.WebConfigurationManager.AppSettings[urlKey]
                            }
                        }
</ul>
              </li>
                        <li class="dropdown dropdown-submenu" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplier Payments</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("SupplierPayments", "Home")">Payments</a></li>
                                <li><a href="@Url.Action("SupplierPaymentMOE", "Home")">Payments MOE</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Circulars</a>
                  <ul class="dropdown-menu">
                       
                                <li><a >Sinhala</a></li>
                              <li><a >Tamil</a></li>
                              <li><a >English</a></li>

</ul>
              </li>

                        <li> <a>Notices</a></li>

                         <li class="dropdown dropdown-submenu""><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a>
                  <ul class="dropdown-menu">
                       <li><a href="@Url.Action("ReportMonitoringOfficers", "Home")">List Of Monitoring Officers</a></li>
                                    <li><a href="@Url.Action("ReportSuppliers", "Home")">Supplier Information</a></li>
                                     <li><a href="@Url.Action("ReportWeightvsAge", "Home")">Report - BMI</a></li>
                                    <li><a href="@Url.Action("ReportBMIProvincesInformation", "Home")">Report - BMI Information (Provinces)</a></li>

                      

                </ul>
              </li>
  </ul>
                  </div>
              </li>

          </ul>


           
         
       <!-- <img src="/Content/assets/img/backgrounds/header-logo-sponsers.jpg" class="img-responsive"/>-->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

 



    <div style="height:500px">
        @RenderBody()
        <br /><br />
    </div>
             <footer class="footer form-layout">
      <div class="container">
         Copyright &copy; <script type="text/javascript">
                              var dteNow = new Date();
                              var intYear = dteNow.getFullYear();
                              document.write(intYear);
</script> by 
<a style="color:White">www.shpp.edu.gov.lk</a> 
      </div>
    </footer>
    
        <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/Content/assets/js/jquery.backstretch.min.js"></script>
        <script src="/Content/assets/js/scripts.js"></script>

</body>
</html>
