@model SchoolHealthManagement.Models.ChagePassWDModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="container">
    <div class="row index-top-box">
        <div class="form-sub-headers">
            <h2>Change Password</h2>
        </div>



        @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
     <div class="change-pw">

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword, "Old Password")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword, "New Password")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Change" class="btnLogin st2" />
        </p>

        @* <div class="bk-list">
 @Html.ActionLink("<< Back to List", "Index")
</div>*@
 </div> 
}

        



























        </div>
    </div>







